#pageSearchBox {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #F0F0F0;
    padding: 35px 35px 35px 35px;
    border-radius: 5px;
}
.masthead{
    background-color: #FFFFFF;
}

/*
#mainpageSearchBox .form-control {
    width:80%;
    display: inline-block;
}*/

#dataContentDiv {
    margin-top: 30px;
}

/* search button css */
.searchButton {
    margin-left: 7px;
    margin-bottom: 0;
    line-height: 0.88em;
    position: relative;
    vertical-align: top;
}

.mainpageSearchBox {
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    width: 60%;
    margin: 0 auto;
  }
  
  input[type="text"] {
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  
  .search {
    display: flex;
    flex-flow: column;
    border: solid 1px #ddd;
    width: 100%;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
  }
  
  .search:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }
  
  .search-input {
    flex: 100%;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border: none;
  }
  
  .search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .search-result {
    text-align: left;
  }
  
  .search-result li {
    list-style-type: none;
    padding: 0 20px;
  }
  
  .search-result li a {
    width: 95%;
    margin: 0 auto;
  }
  
  .search-result li:hover {
    background-color: #ddd;
  }
  
  .fa-search {
    color: #4285f4;
  }

  .about {
    text-align:center;
}
  